body{
    font-family: 'Lato','Noto Sans KR', sans-serif;
    /* 기본 폰트 크기는 16px */
}

a,  a:link{
    text-decoration: none;
    color: inherit;
}

.blind{
    display:none ;
}



/* header style */
.header-top{
    border-bottom: 1px solid #d60c00;
}
.top-wrap{     /* 상단네비탑 */
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.tnb{
    display: flex;
    justify-content: space-around;
}
.tnb li{
    margin: 10px 15px;
    font-size: 13px;
    color: #888888;
    font-weight: 500;
}
.tnb li:hover{
    color: #000000;
}                /* 상단네비탑 END */


/* header의 하단네비*/
.gnb{  
    display: flex;
    justify-content: space-around;
    margin: 0px 300px;
}
.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: inline-block;
    padding: 20px 50px;
}

.gnb li:hover .lnb{
    color: white;
    display: block;
}

.lnb{
    display: none;
    position: absolute;
    background: #f18680;
    color: white;
    width: 100%;
    height: 150px;
    line-height: 3rem;
    
}
.lnb > li{
    text-align: center;
}
.lnb > li > a{
    color: black;
}
.lnb > li:hover{
    background: white;
    display: flex;
    padding: 0 30px;
    font-size: large;
    
}

/*  header의 하단네비 end*/


/* header style end */

/************************** hero style ********************/
.hero-wrap{
    max-width: 900px;
    margin: 0 auto;
    height: 395px;
}
#icons{
    background: #d60c00;
}

#hnb{
    display: flex;
    justify-content: center;
}
/************************** hero style END********************/


/************************** main style ********************/
#main > article > h3{
    font-size: 22px;
    color: #d60c00;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto;
}
.prd{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.prd li{
    border-radius: 50%;
    overflow: hidden;     /* border-radius으로 깍았으면 숨겨 줘야한다..이코드로 */
}
.prd img{
    width: 220px;
    height: 220px;
}

.aside-wrap{
    border-top: 1px solid #191919;
    background: #f1f1f1;

}
.aside-wrap a{
    color: #d60c00;
    
}
.aside-wrap ul{
    display: flex;
    justify-content: center;
    column-gap: 3rem;

    padding: 1rem 0;
}

.aside-wrap li{
    margin: 2rem 0;
}
/************************** main style END********************/

/************************** main>intro style ********************/
#slogan{
    border-top: 1px solid #000000;
}

#slogan .text{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: white;
    
    background: url(https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg) no-repeat center/cover;
}
.text p{
    text-shadow: 1 1 10px #000000;
    font-size: 1.5rem;
    font-weight: 700;
}
.breadcrumb{
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: right;
    color: #888;
    font-size: 1rem;
}
.breadcrumb a:hover{
    color: purple;
}
#mind{
    margin: 100px auto;
}

#main > h1{
    text-align: center;
}
#main > article > h3, article > p{
    text-align: left;
    margin-left: 20px;
}
#mind , #mind > .mid-cols{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mid-cols div{
    width: 230px;
}
.mind-col1{ 
    background: red;
    padding: 60px 0;
}
.mind-col2{ 
    background: gray;
    padding: 60px 0;
}
.mid-cols img{
    width: 230px;
    height: 234px;
}
.mid-cols p{
    text-align: center;
}
#main {
    max-width: 100%;
    width: 900px;
    margin: 0 auto;
}


/************************** main>intro style END ********************/


/************************** footer style ********************/
.footer-logo, address{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
address p{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
}


/************************** footer style END ********************/