body{
    font-family: 'Lato','Noto Sans KR', sans-serif;
    /* 기본 폰트 크기는 16px */
}

a,  a:link{
    text-decoration: none;
    color: inherit;
}

.blind{
    display:none ;
}



/* header style */
.header-top{
    border-bottom: 1px solid #d60c00;
}
.top-wrap{     /* 상단네비탑 */
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
#tnb{
    display: flex;
    column-gap: 1rem;    
}
#tnb li{
    font-size: 13px;
    color: #888888;
    font-weight: 500;

}
#tnb li:hover{
    color: #000000;
}                /* 상단네비탑 END */



#gnb{  /* 하단네비*/
    display: flex;
    justify-content: space-around;
    margin: 30px 300px;
}
#gnb li:hover{
    color: #d60c00;
}

/* 하단네비 end*/
/* header style end */

/************************** hero style ********************/
.hero-wrap{
    max-width: 900px;
    margin: 0 auto;
    height: 395px;
}
#icons{
    background: #d60c00;
}

#hnb{
    display: flex;
    justify-content: center;
}
/************************** hero style END********************/


/************************** main style ********************/
#main > article > h3{
    font-size: 22px;
    color: #d60c00;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto;
}
.prd{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.prd li{
    border-radius: 50%;
    overflow: hidden;     /* border-radius으로 깍았으면 숨겨 줘야한다..이코드로 */
}
.prd img{
    width: 220px;
    height: 220px;
}

.aside-wrap{
    border-top: 1px solid #191919;
    background: #f1f1f1;
}
.aside-wrap a{
    color: #d60c00;
    
}
.aside-wrap ul{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding: 2rem 0;
}

/************************** main style END********************/
/************************** footer style ********************/
.footer-logo, address{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
address p{
    font-size: 12px;
    color: #999999;
    font-weight: 700;
}


/************************** footer style END ********************/